* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 18px;
}

header {
  background-image: url('./images/Header-llustration-desktop.png');
  background-size: cover;
  height: 900px;
}

.header-content {
  width: 60%;
}

.header-content .hello-span {
  color: green;
}

.social-media-icon ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.social-media-icon li {
  text-decoration: none;
  list-style: none;
}

.social-media-icon img {
  padding: 5px;
  font-size: 70px;
}

.card-enabler {
  margin-top: 50px;
  text-align: center;
}

.recent-work {
  width: 750px;
}

.card {
  width: 25rem;
}

.card-round {
  height: 225px;
  background-color: #ebf0ee;
  border-radius: 10px;
}

.card-body span {
  color: #3a4a42;
  background-color: #ebf0ee;
  padding: 5px;
  border-radius: 4px;
  margin: 5px;
}
